{% extends 'base.html' %}
{% block title %}Criar Conta{% endblock %}
{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h1 class="text-center">Criar Conta</h1>
        <form method='POST' action="{% url 'criar_conta_cliente' %}" class="w-75">
            {% csrf_token %}
            <div class="mb-3 row">
                <div class="col">
                    <label for="{{ custom_user_form.first_name.id_for_label }}" class="form-label">{{ custom_user_form.first_name.label }}</label>
                    {{ custom_user_form.first_name }}
                </div>
                <div class="col">
                    <label for="{{ custom_user_form.last_name.id_for_label }}" class="form-label">{{ custom_user_form.last_name.label }}</label>
                    {{ custom_user_form.last_name }}
                </div>
            </div>
            <div class='mb-3 row'>
                <div class="col">
                    <label for="{{ custom_user_form.email.id_for_label }}" class="form-label">{{ custom_user_form.email.label }}</label>
                    {{ custom_user_form.email }}
                </div>
                <div class='col'>
                    <label for="{{ cliente_form.telefone.id_for_label }}" class="form-label">{{ cliente_form.telefone.label }}</label>
                    {{ cliente_form.telefone }}
                </div>
            {% comment %} {{ custom_user_form }}
            {{ cliente_form }} {% endcomment %}
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label for="{{ cliente_form.sexo.id_for_label }}" class="form-label">{{ cliente_form.sexo.label }}</label>
                    {{ cliente_form.sexo }}
                </div>
                <div class="col">
                    <label for="{{ cliente_form.data_nascimento.id_for_label }}" class="form-label">{{ cliente_form.data_nascimento.label }}</label>
                    {{ cliente_form.data_nascimento }}
                    
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label for="{{ cliente_form.cpf.id_for_label }}" class="form-label">{{ cliente_form.cpf.label }}</label>
                    {{ cliente_form.cpf }}
                </div>
                <div class="col">
                    <label for="{{ cliente_form.rg.id_for_label }}" class="form-label">{{ cliente_form.rg.label }}</label>
                    {{ cliente_form.rg }}
                </div>
                
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label for="{{ custom_user_form.password.id_for_label }}" class="form-label">{{ custom_user_form.password.label }}</label>
                    {{ custom_user_form.password }}
                </div>
                <div class="col">
                    <label for="{{ custom_user_form.password2.id_for_label }}" class="form-label">{{ custom_user_form.password2.label }}</label>
                    {{ custom_user_form.password2}}
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <input type="submit" value="Criar Conta" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
{% endblock %}