{% extends 'base.html' %}
{% load static %}
{% block title %}Página Inicial{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}
{% block content %}
    <h1 class="display-4 text-center">Próximos Eventos</h1>
    <section class="d-flex gap-5">
        {% for ingresso in ingressos %}
        <div class="card" style="width: 25rem;">
            <img src="{{ ingresso.thumbnail.url }}" class="card-img-top image-thumbnail" alt="jogo">
            <div class="card-body">
              <h5 class="card-title">{{ ingresso.titulo }}</h5>
              <p class="card-text"><i class="bi bi-calendar-event"></i> {{ ingresso.data_horario }}</p>
              <p class="card-text"><i class="bi bi-three-dots"></i> {{ ingresso.get_tipo_display }}</p>
              <p class="card-text"><i class="bi bi-geo-alt"></i> {{ ingresso.local }}</p>
              <p class="card-text"><i class="bi bi-box-seam"></i></i> {{ ingresso.estoque_disponivel }} ingresso(s) restante(s)</p>
              <a href="{% url 'visualizar_ingresso' id_ingresso=ingresso.id %}" class="btn btn-primary">Comprar | R$ {{ ingresso.preco }}</a>
            </div>
          </div>
          {% empty %}
            <p class="text-center">Nenhum evento próximo cadastrado.</p>
          {% endfor %}
    </section>
{% endblock %}