.image-thumbnail {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
}

/* configurando imagem da tela de login */
.image-maraca{
  max-width: 100%;
  object-fit: cover;  
}

.cadeado{
  font-size: 150px;
}