{% extends 'base.html' %}
{% load static %}
{% block title %}Venda de Ingresso{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'ingressos/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <form method="POST" class="w-50 d-flex flex-column align-items-center" action="{% url 'comprar_ingresso' id_ingresso=ingresso.id %}">
            {% csrf_token %}
            <h2>Você está comprando o ingresso {{ ingresso.titulo }}</h2>
            <img class="img-ingresso" src="{{ ingresso.thumbnail.url }}">
            <div class='mb-3'>
                <p>Dados da compra:</p>
                <p>Dia: {{ ingresso.data_horario }}</p>
                <p>Valor: {{ ingresso.preco }}</p>
                <p>Ingressos disponíveis: {{ ingresso.estoque_disponivel }}</p>
            </div>
            <div class='mb-3'>
                <label class="form-label">{{ form.quantidade.label }}</label>
                {{ form.quantidade }}
            </div>
            <button type="submit" class="btn btn-primary">Comprar Agora</button>            
        </form>
    </div>  
{% endblock %}